interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD/candles?end=1591014840&granularity=ONE_MINUTE&start=1591014840
  response:
    body:
      string: '{"candles":[{"start":"1591014840","low":"9558.02","high":"9566.16","open":"9566.16","close":"9560.73","volume":"7.44296873"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 16 Dec 2024 01:26:39 GMT
      trace-id:
      - '650531074208257991'
      - '650531074208257991'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD/candles?end=1591014600&granularity=FIVE_MINUTE&start=1591014600
  response:
    body:
      string: '{"candles":[{"start":"1591014600","low":"9558.02","high":"9590.45","open":"9574.85","close":"9560.73","volume":"33.9492526"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 16 Dec 2024 01:26:40 GMT
      trace-id:
      - '7284784732694804126'
      - '7284784732694804126'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD/candles?end=1591014600&granularity=FIFTEEN_MINUTE&start=1591014600
  response:
    body:
      string: '{"candles":[{"start":"1591014600","low":"9558.02","high":"9590.45","open":"9574.85","close":"9569.97","volume":"99.35339347"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 16 Dec 2024 01:26:41 GMT
      trace-id:
      - '2922675039930763924'
      - '2922675039930763924'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD/candles?end=1590969600&granularity=ONE_DAY&start=1590969600
  response:
    body:
      string: '{"candles":[{"start":"1590969600","low":"9417.42","high":"10428","open":"9445.83","close":"10208.96","volume":"21676.60828748"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 16 Dec 2024 01:26:42 GMT
      trace-id:
      - '8313227568894027626'
      - '8313227568894027626'
    status:
      code: 200
      message: OK
version: 1
