interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.frankfurter.app/2020-01-02..2020-12-31?from=EUR&to=USD
  response:
    body:
      string: '{"amount":1.0,"base":"EUR","start_date":"2020-01-02","end_date":"2020-12-31","rates":{"2020-01-02":{"USD":1.0847},"2020-01-03":{"USD":1.0847},"2020-01-06":{"USD":1.0847},"2020-01-07":{"USD":1.0847},"2020-01-08":{"USD":1.0847},"2020-01-09":{"USD":1.111},"2020-01-10":{"USD":1.0847},"2020-01-13":{"USD":1.0847},"2020-01-14":{"USD":1.0847},"2020-01-15":{"USD":1.0847},"2020-01-16":{"USD":1.0847},"2020-01-17":{"USD":1.0847},"2020-01-20":{"USD":1.0847},"2020-01-21":{"USD":1.0847},"2020-01-22":{"USD":1.0847},"2020-01-23":{"USD":1.0847},"2020-01-24":{"USD":1.0847},"2020-01-27":{"USD":1.0847},"2020-01-28":{"US[...]
[...]
