interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.frankfurter.app/currencies
  response:
    body:
      string: "{\"AUD\":\"Australian Dollar\",\"BGN\":\"Bulgarian Lev\",\"BRL\":\"Brazilian
        Real\",\"CAD\":\"Canadian Dollar\",\"CHF\":\"Swiss Franc\",\"CNY\":\"Chinese
        Renminbi Yuan\",\"CZK\":\"Czech Koruna\",\"DKK\":\"Danish Krone\",\"EUR\":\"Euro\",\"GBP\":\"British
        Pound\",\"HKD\":\"Hong Kong Dollar\",\"HUF\":\"Hungarian Forint\",\"IDR\":\"Indonesian
        Rupiah\",\"ILS\":\"Israeli New Sheqel\",\"INR\":\"Indian Rupee\",\"ISK\":\"Icelandic
        Kr\xF3na\",\"JPY\":\"Japanese Yen\",\"KRW\":\"South Korean Won\",\"MXN\":\"Mexican
        Peso\",\"MYR\":\"Malaysian Ringgit\",\"NOK\":\"Norwegian Krone\",\"NZD\":\"New
        Zealand Dollar\",\"PHP\":\"Philippine Peso\",\"PLN\":\"Polish Z\u0142oty\",\"RON\":\"Romanian
        Leu\",\"SEK\":\"Swedish Krona\",\"SGD\":\"Singapore Dollar\",\"THB\":\"Thai
        Baht\",\"TRY\":\"Turkish Lira\",\"USD\":\"United States Dollar\",\"ZAR\":\"South
        African Rand\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6b87aeaa86dd34fcfdd4220f664e37c4"
    status:
      code: 200
      message: OK
version: 1
