{
    "in_header": {
        "timestamp": 0,
        "asset": 1,
        "exchange": 2,
        "holder": 3,
        "transaction_type": 4,
        "spot_price": 6,
        "crypto_in": 7,
        "fiat_fee": 8,
        "fiat_in_no_fee": 9,
        "fiat_in_with_fee": 10,
        "unique_id": 12,
        "notes": 13
    },
    "out_header": {
        "timestamp": 0,
        "asset": 1,
        "exchange": 2,
        "holder": 3,
        "transaction_type": 4,
        "spot_price": 6,
        "crypto_out_no_fee": 7,
        "crypto_fee": 8,
        "crypto_out_with_fee": 9,
        "fiat_out_no_fee": 10,
        "fiat_fee": 11,
        "unique_id": 12,
        "notes": 13
    },
    "intra_header": {
        "timestamp": 0,
        "asset": 1,
        "from_exchange": 2,
        "from_holder": 3,
        "to_exchange": 4,
        "to_holder": 5,
        "spot_price": 6,
        "crypto_sent": 7,
        "crypto_received": 8,
        "unique_id": 12,
        "notes": 13
    },
    "assets": [
        "BTC"
    ],
    "exchanges": [
        "My Fave Trezor",
        "FTX",
        "Green Trezor"
    ],
    "holders": [
        "Bob",
        "Alice"
    ]
}